// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
}

td {
  padding: 12px;
}

.even {
  background-color: #D6E1C3;
}

.linked-image {
    border: 2px pink dashed;
    border-radius: 7px;
    padding: 3px;
}

